@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 240px);
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 60;
  }
}

@keyframes counter2 {
  from {
    --num: 0;
  }
  to {
    --num: 40;
  }
}

@keyframes counter3 {
  from {
    --num: 0;
  }
  to {
    --num: 10;
  }
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.hero_header {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-8xl;
}

.desc {
  @apply mt-8 text-lg text-gray-600 sm:text-xl max-w-2xl;
}
