@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 250px);
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 60;
  }
}

@keyframes counter2 {
  from {
    --num: 0;
  }
  to {
    --num: 40;
  }
}

@keyframes counter3 {
  from {
    --num: 0;
  }
  to {
    --num: 10;
  }
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.hero_header {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-8xl;
}

.desc {
  @apply mt-8 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.details {
  @apply bg-blue-50 dark:bg-slate-900 rounded-lg p-1.5 text-xs;
}

.loader {
  width: fit-content;
  background: #000;
  padding: 0 8px;
  font-size: 30px;
  font-family: monospace;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  position: relative;
}
.loader::before {
  content: "08:00";
  white-space: pre;
  animation: l8 0.5s infinite;
}
.loader::after {
  content: "";
  position: absolute;
  inset: auto auto 100% 10px;
  height: 5px;
  width: 40%;
  background: linear-gradient(90deg, red 40%, #0000 0 60%, #444 0);
}
@keyframes l8 {
  100% {
    content: "  :  ";
  }
}
